h1{
    text-align: center;
}
table,th,td{
   
    border:1px solid black;
    border-collapse: collapse;
    padding: 10px;

}
.ob{
    background-color: gray;
}
.pi{
    background-color: gray;
}
.eq{
    background-color: gray;
}
.ac{
    background-color: gray;
}
.aoi{
    background-color: gray;
}